<div class="menu active">
  <h3>Someone Famous<br /><span>Website Designer</span></h3>
  <ul>
    <li><img src="./assets/profile.png" /><a href="#">My profile</a></li>
    <li><img src="./assets/edit.png" /><a href="#">Edit profile</a></li>
    <li><img src="./assets/envelope.png" /><a href="#">Inbox</a></li>
    <li><img src="./assets/settings.png" /><a href="#">Setting</a></li>
    <li><img src="./assets/question.png" /><a href="#">Help</a></li>
    <li><img src="./assets/log-out.png" /><a href="#">Logout</a></li>
  </ul>
</div>
