<div
  class="container"
  id="container"
  [ngClass]="{ 'right-panel-active': isSignUpClicked }"
>
  <div class="form-container sign-up-container">
    <form action="#">
      <h1>Create Account</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
      </div>
      <span>or use your email for registration</span>
      <input
        type="text"
        placeholder="First Name"
        id="firstName"
        name="firstName"
        [(ngModel)]="firstName"
      />
      <input
        type="text"
        placeholder="Last Name"
        id="lastName"
        name="lastName"
        [(ngModel)]="lastName"
      />
      <input
        type="text"
        placeholder="Email"
        id="email"
        name="email"
        [(ngModel)]="email"
      />
      <div
        class="error-message"
        *ngIf="loginForm.invalid && (loginForm.dirty || loginForm.touched)"
      >
        <span>Username is required</span>
      </div>
      <input
        [(ngModel)]="password"
        type="password"
        placeholder="Password"
        id="passwordUp"
        name="password"
        [(ngModel)]="password"
      />
      <button (click)="onSignUp()">Sign Up</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form action="#">
      <!-- <formly-form [form]="loginForm" [fields]="formLoginConfig"></formly-form> -->
      <h1>Sign in</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
      </div>
      <span>or use your account</span>
      <input
        type="text"
        placeholder="Username"
        id="username"
        name="username"
        [(ngModel)]="username"
      />
      <div
        class="error-message"
        *ngIf="loginForm.invalid && (loginForm.dirty || loginForm.touched)"
      >
        <span>Username is required</span>
      </div>
      <input
        [(ngModel)]="password"
        type="password"
        placeholder="Password"
        id="passwordIn"
        name="password"
        [(ngModel)]="password"
      />
      <a href="#">Forgot your password?</a>
      <button (click)="onSignIn()">Sign In</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button class="ghost" id="signIn" (click)="backSignInPage()">
          Sign In
        </button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>Enter your personal details and start journey with us</p>
        <button class="ghost" id="signUp" (click)="onChangeSignUp()">
          Sign Up
        </button>
      </div>
    </div>
  </div>
</div>
