<div
  class="container"
  id="container"
  [ngClass]="{ 'right-panel-active': isSignUpClicked }"
>
  <!-- Sign-Up Form -->
  <div class="form-container sign-up-container">
    <form [formGroup]="signUpForm">
      <h1>Create Account</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
      </div>
      <span>or use your email for registration</span>
      <input
        type="text"
        placeholder="First Name"
        id="firstName"
        name="firstName"
        formControlName="firstName"
      />
      <div
        class="error-message"
        *ngIf="submittedSignUp && signUpForm.controls['firstName'].errors?.['required']"
      >
        <span>First Name is required</span>
      </div>
      <input
        type="text"
        placeholder="Last Name"
        id="lastName"
        name="lastName"
        formControlName="lastName"
      />
      <div
        class="error-message"
        *ngIf="submittedSignUp && signUpForm.controls['lastName'].errors?.['required']"
      >
        <span>Last Name is required</span>
      </div>
      <input
        type="text"
        placeholder="Email"
        id="emailSignUp"
        name="emailSignUp"
        formControlName="emailSignUp"
      />
      <div
        class="error-message"
        *ngIf="submittedSignUp && signUpForm.controls['emailSignUp'].errors?.['required']"
      >
        <span>Email is required</span>
      </div>
      <input
        formControlName="passwordSignUp"
        type="password"
        placeholder="Password"
        id="passwordSignUp"
        name="passwordSignUp"
      />
      <div
        class="error-message"
        *ngIf="submittedSignUp && signUpForm.controls['passwordSignUp'].errors?.['required']"
      >
        <span>Password is required</span>
      </div>
      <button type="submit" (click)="onSignUp()">Sign Up</button>
    </form>
  </div>

  <!-- Sign-In Form -->
  <div class="form-container sign-in-container">
    <form [formGroup]="signInForm" (ngSubmit)="onSignIn()">
      <!-- <formly-form [form]="loginForm" [fields]="formLoginConfig"></formly-form> -->
      <h1>Sign in</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
      </div>
      <span>or use your account</span>
      <input
        type="text"
        placeholder="Email"
        id="emailSignIn"
        name="emailSignIn"
        formControlName="emailSignIn"
      />
      <div
        class="error-message"
        *ngIf="submittedSignIn && signInForm.controls['emailSignIn'].errors?.['required']"
      >
        <span>Username is required</span>
      </div>
      <input
        type="password"
        placeholder="Password"
        id="passwordIn"
        name="password"
        formControlName="passwordSignIn"
      />
      <div
        class="error-message"
        *ngIf="submittedSignIn && signInForm.controls['passwordSignIn'].errors?.['required']"
      >
        <span>Password is required</span>
      </div>
      <a href="#">Forgot your password?</a>
      <button type="submit">Sign In</button>
    </form>
  </div>

  <!-- On-Change Form -->
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button class="ghost" id="signIn" (click)="backSignInPage()">
          Sign In
        </button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>Enter your personal details and start journey with us</p>
        <button class="ghost" id="signUp" (click)="onChangeSignUp()">
          Sign Up
        </button>
      </div>
    </div>
  </div>
</div>
