<nav>
  <div class="left">
    <div class="logo">
      <img src="assets/nav/logo.png" alt="logo" />
    </div>

    <div class="search_bar">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="Search EBook" />
    </div>
  </div>

  <div class="center">
    <i><fa-icon [icon]="faHouse"></fa-icon></i>
    <i><fa-icon [icon]="faTv"></fa-icon></i>
    <i><fa-icon [icon]="faStore"></fa-icon></i>
    <i><fa-icon [icon]="faUsers"></fa-icon></i>
  </div>

  <div class="right">
    <i><fa-icon [icon]="faListUl"></fa-icon></i>
    <i><fa-icon [icon]="faFacebookMessenger"></fa-icon></i>
    <i><fa-icon [icon]="faBell"></fa-icon></i>
    <i><fa-icon [icon]="faMoon"></fa-icon></i>
    <img src="assets/nav/profile.png" alt="profile" />
  </div>
</nav>
